{
  "extends": [
  ],
  "rules": {
    "padded-blocks": "off",
    "no-console": "off",
    "indent": [
      "error",
      2
    ]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  },
  "globals": {
    "L": true,
    "turf": true
  }
}
